@import '../settings';


div {
    width: 100%;
}

button {
    background: $colorButton;
    border: 1px $colorBorder;
    border-radius: $radius;
    padding: 12px 0px;
    box-shadow: $shadow;
    color: $colorText;
    font-size: $fontTextSize;
    margin-top: 10px;
    transition: 100ms;
    width: 100%;


    &:active {
        background: $colorButtonActive;
        transform: scale(0.95);
    }
}