@import '../settings';

.hero {
    height: fit-content;
    box-shadow: $shadow;
    border-radius: 0 0 4px 0;
    background-color: $colorCard;
    border: $colorBorder 1px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    margin-bottom: 10px;

    h2 {
        line-height: 30px;
    }

}